:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-trangparent-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f5f5;
  --button-backgraund-color: #f5f4fa;
  --button-bg-hero-color: #188ce8;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
}
.page {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
/* Logo */
.logo {
  color: var(--accent-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--black-color);
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--black-color);
}
.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}
/* Site nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* site-contact */
.site-contact .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

/* Секція hero */
.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button.hero {
  background-color: var(--button-bg-hero-color);
  color: var(--white-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button.hero:hover,
.button.hero:focus {
  background-color: var(--white-color);
  color: var(--title-text-color);
}
.page-hero {
  background-color: var(--footer-bg-color);
}

/* button section */
.button {
  background-color: var(button-backgraund-color);
  color: var(--title-text-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Особливості */
.feature-list .title {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Чим займаєммось */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */
.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
}
.page-team {
  background: var(--section-bg-color);
}
.page-team-div {
  background: var(--white-color);
}
/* Наші роботи */
.product-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-list .text {
  color: var(--primary-text-color);

  text-decoration: none;
  font-size: 16px;
  line-height: 1.9;
}

/* footer */
.site-address .link {
  color: var(--white-color);
  font-style: normal;
  text-decoration: none;
}
.site-address .contact {
  color: var(--white-trangparent-color);
  font-style: normal;
  text-decoration: none;
}
.site-address:hover,
.site-address:focus {
  color: var(--accent-color);
}

.page-footer {
  background-color: var(--footer-bg-color);
}

ul {
  list-style: none;
}

/* text-decoration: none; Убираем подчёркивание */

/* Колір тексту #212121 */
/* Колір основного тексту #757575 */
/* Білий колір #FFFFFF  */
/* Акцент #2196F3 */
/* Чорний колір #000000 */
/* Білий прозорий rgba(255, 255, 255, 0.6) */
/* Колір фону #F5F5F5 */
/* Колір background кнопок #F5F4FA */
/* Другорядний колір фону  #F5F4FA */
